

::ng-deep .gridster-row {
  background-color: transparent; /* Color para las filas */
}
::ng-deep .gridster-column {
  background-color: transparent; /* Color para las columnas */
}
::ng-deep gridster {
  background-color: transparent !important;
}
